.bookmarkHeader {
  /* margin: 0px; */
  /* padding-left: 280px; */
  /* font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;

  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* width: 600px; */

  margin: 0px;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  /* width: 664px; */
  width: 686px;
}
