.postsContainer {
  /* width: 100%;
  margin-left: 200px;
  margin-bottom: 200px; */
}

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  /* margin: 5px 0px;
  width: 100%; */

  /* text-align: center; */
}

.postCardWrapper {
  border: 1px solid #ccc;
  /* width: 60%;
  margin: 0; */

  /* align-items: center; */
}

.flex {
  /* width: 50;
  height: 50; */

  /* overflow: scroll; */
}
.exploreHeader {
  margin: 0px;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
