.homeHeader {
  margin: 0px;
  /* padding-left: 280px; */
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  /* margin-right: 12px; */
  /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* width: 100%; */
}

.sorting {
  /* border: 1px solid black; */
  display: flex;
  margin-top: 20px;
  /* margin-bottom: 20px; */

  /* justify-content: space-around; */
  /* padding: 10px; */
}

.trendingbtn {
  /* padding: 50px;
  /* padding-bottom: 50px; */
  padding-top: 10px;
  padding-right: 90px;
  padding-left: 90px;
  padding-bottom: 10px;
  border: none;
  border-top-left-radius: 5px;
  /* border-bottom-left-radius: 5px; */
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #c0f0fa;
  /* margin-left: 0px; */
  /* margin-right: 50px; */
  /* border: 1px solid black; */
}

.trendingbtn:active {
  background-color: #07a0c3;
}

.trendingbtn:hover {
  /* padding: 50px;
  /* padding-bottom: 50px; */
  padding-top: 10px;
  padding-right: 90px;
  padding-left: 90px;
  padding-bottom: 10px;
  border: none;
  border-top-left-radius: 5px;
  /* border-bottom-left-radius: 5px; */
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background-color: #07a0c3;
  /* margin-left: 0px; */
  /* margin-right: 50px; */
  /* border: 1px solid black; */
}

.latestbtn {
  padding-top: 15px;
  padding-right: 89px;
  padding-left: 89px;
  padding-bottom: 15px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #c0f0fa;
  /* border-radius: 5px; */
}

.latestbtn:hover {
  padding-top: 15px;
  padding-right: 89px;
  padding-left: 89px;
  padding-bottom: 15px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background-color: #07a0c3;
}

.oldestbtn {
  padding-top: 10px;
  padding-right: 90px;
  padding-left: 90px;
  padding-bottom: 10px;
  border: none;
  background-color: #c0f0fa;
  font-size: 0.9rem;
  font-weight: bold;
  /* border-radius: 5px; */
  border-top-right-radius: 5px;
  /* border-bottom-right-radius: 5px; */
  text-align: center;
}

.oldestbtn:hover {
  padding-top: 10px;
  padding-right: 90px;
  padding-left: 90px;
  padding-bottom: 10px;
  border: none;
  background-color: #07a0c3;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  /* border-radius: 5px; */
  border-top-right-radius: 5px;
  /* border-bottom-right-radius: 5px; */
  text-align: center;
}

.homeavatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.homeimageavatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 20px;
  margin-left: 5px;
}

.whatsHappening {
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: rgb(243 244 246);
  margin-top: 20px;
  /* border: none; */
  width: 42.7rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* .textAreaToPost {
  margin-left: 90px;
} */

.textAreaToPost {
  margin-left: 80px;
  /* margin-bottom: 10px; */
  /* margin-top: 0px; */
  padding: 0px;
  margin-right: -20px;

  /* margin-right: 0px; */
}

.textAreaHome {
  /* padding: 10px; */
  border-radius: 10px;
  margin-top: -16px;
  height: 96px;
  border: none;
  width: 550px;
  margin-left: 15px;
  /* rgb(243 244 246/var(--tw-bg-opacity)); */
}

.PostButton {
  margin-left: 585px;
  margin-bottom: 10px;
  /* margin-top: -50px; */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
  border: none;
  background-color: #c0f0fa;
  font-size: 15px;
}

.PostButton:hover {
  margin-left: 585px;
  margin-bottom: 10px;
  /* margin-top: -40px; */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
  border: none;
  background-color: #07a0c3;
  color: white;
}

.PostbtnOnHome {
  margin-top: 10px;
}

.bgcolor-1 {
  background-color: #07a0c3;
}

.bgcolor-2 {
}

.button.active {
  background-color: #c0f0fa;
}

.HomeData {
  display: flex;
}

.homepageouterdiv {
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  /* border-bottom: 1px solid black; */
  /* margin-left: 50px;
  margin-right: 50px; */
}

@media (max-width: 768px) {
  .textAreaHome {
    width: 100%;
  }
  .homeHeader {
    /* padding-bottom: 0px; */
    /* padding-top: 0px; */
  }
}
