.dummyImage {
  /* position: absolute; */
  height: 140px;
  width: 140px;
  border-radius: 80px;
  /* bottom: 280px; */
  /* left: 450px; */
  /* margin-left: 180%; */
}

.editProfileImage {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
}

.profileAvatarOptions {
  margin: 0 auto;
}
