/* .innerFrame {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.flex {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */

  /* gap: 1px 1px; */

  /* column-gap: 1px;
  position: fixed;
  height: 100%;
  width: 100%;
  gap: 2rem; */

  /* z-index: 1; */

  /* top: 0;
  background-color: white;
  padding-top: 60px; */
}
/* 
.sideBar {
  position: sticky;
  top: 0;
  left: 0;
  width: 20%;
} */

/* .link {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  background-color: black;
} */

/* .link:hover {
  color: whitesmoke;
} */
/* style={{ display: "flex" }} */

/* .pages {
  display: flex;
} */

.pages {
  display: flex;
  flex-wrap: nowrap;
}
